<p-toast></p-toast>

<div class="ui-g ui-fluid">
    <div class="ui-grid-col-12">
        <div class="ui-g-12">
            <p-menubar [model]="menuItems"></p-menubar>
        </div>
    </div>
</div>

<p-dialog header="Title" [(visible)]="displayPdfDialog" [style]="{width: '800px', height: '600px'}">

    <div *ngIf="isLoaded" style="text-align: center;">
        <button (click)="prevPage()" [disabled]="page === 1">Prev</button>
        <span>{{ page }} / {{ totalPages }}</span>
        <button (click)="nextPage()" [disabled]="page === totalPages">Next</button>
    </div>

    <pdf-viewer [src]="pdfSrc"
                [show-all]="false"
                [page]="page"
                (after-load-complete)="afterLoadComplete($event)">
    </pdf-viewer>
</p-dialog>

<p-dialog header="Neuer Abruf" [(visible)]="displayReleaseOrderDialog" modal="modal"
          [style]="{'min-height':'400px', 'min-width':'400px'}"
          [contentStyle]="{'min-height':'350px', 'min-width':'350px'}">
    <div class="ui-g ui-fluid form-group">
        <div class="ui-g-12">
            <label for="idReleaseOrderName">Bezeichnung des Abrufs</label>
            <input id="idReleaseOrderName"
                   [(ngModel)]="releaseOrderEdit.name"
                   type="text" pInputText/>
        </div>
        <div class="ui-g-12">
            <label for="idMeasurementType">Aufmaßart</label>
            <p-dropdown id="idMeasurementType"
                        [options]="measurementVM.measurementTypes"
                        [(ngModel)]="releaseOrderEdit.measurementType"
                        (onChange)="findMatchingPurchasesNumbers()"
                        [style]="{'min-width':'150px'}">
                <ng-template let-measurementType pTemplate="item">
                    {{measurementType.id}} / {{measurementType.name}}
                </ng-template>
            </p-dropdown>
        </div>
        <div class="ui-g-12">
            <label for="idOrderNumber">Bestellnummer</label>
            <p-autoComplete id="idOrderNumber"
                            [(ngModel)]="releaseOrderPurchase"
                            [suggestions]="releaseOrderPurchasesSuggest"
                            (completeMethod)="filterReleaseOrderPurchases($event)"
                            [size]="15"
                            [minLength]="1"
                            [dropdown]="true"
                            [inputStyle]="{'width':'90%'}"
                            field="name"
                            placeholder="Bestellnummer oder Name">
                <ng-template let-purchase pTemplate="item">
                    {{purchase.name}}
                </ng-template>
            </p-autoComplete>
        </div>
    </div>

    <p-footer>
        <button type="button" pButton icon="fa fa-close" (click)="saveReleaseOrder()"
                label="Speichern"></button>
        <button type="button" pButton icon="fa fa-check" (click)="displayReleaseOrderDialog=false"
                label="Abbrechen"></button>
    </p-footer>
</p-dialog>

<div class="ui-g ui-fluid">
    <div class="ui-grid-col-8">
        <div class="ui-g-12">

            <div class="card no-margin">
                <h1>Aufmaß Bearbeitung</h1>
                <div class="ui-g form-group">
                    <div class="ui-g-3">
                        <label for="idMeasurementNumber">Aufmaß Nummer</label>
                        <input id="idMeasurementNumber"
                               [(ngModel)]="measurementVM.measurement.measurementNumber"
                               type="text"
                               pInputText pKeyFilter="int"/>
                    </div>

                    <div class="ui-g-3">
                        <label for="idMainMeasurementNumber">Haupt Aufmaß Nummer</label>
                        <input id="idMainMeasurementNumber"
                               [(ngModel)]="measurementVM.measurement.mainMeasurementNumber"
                               type="text" pInputText pKeyFilter="int"/>
                    </div>

                    <div class="ui-g-3">
                        <label for="idMainMeasurementPart">Aufmaß Art</label>
                        <p-dropdown id="idMainMeasurementPart"
                                    [options]="measurementVM.measurementPartSelectItems"
                                    [(ngModel)]="measurementVM.selectedMeasurementPart"
                                    [style]="{'min-width':'150px'}">
                        </p-dropdown>
                    </div>
                    <div class="ui-g-3"></div>

                    <!-- Row 2-->
                    <div class="ui-g-6">
                        <label for="idDescriptionCallOrder">Bezeichnung Abruf</label>
                        <p-dropdown id="idDescriptionCallOrder"
                                    [options]="measurementVM.releaseOrdersSelectItems"
                                    [style]="{'min-width':'150px'}">
                        </p-dropdown>
                    </div>
                    <div class="ui-g-1">
                        <label>&nbsp;</label>
                        <button pButton type="button" label="+" (click)="createNewCallOrder()"></button>
                    </div>
                    <div class="ui-g-2"></div>

                    <!-- Row 3-->
                    <div class="ui-g-9">
                        <label for="idConstructionSite">Bauvorhaben</label>
                        <input id="idConstructionSite" [(ngModel)]="measurementVM.measurement.constructionProject"
                               type="text"
                               maxLength="250"
                               pInputText/>
                    </div>
                    <div class="ui-g-3"></div>

                    <!-- Row 4-->
                    <div class="ui-g-9">
                        <label for="idRemarks">Bemerkungen</label>
                        <input id="idRemarks" [(ngModel)]="measurementVM.measurement.comment"
                               maxLength="250"
                               type="text" pInputText/>
                    </div>
                    <div class="ui-g-3"></div>


                    <!-- Row 5-->
                    <div class="ui-g-6">
                        <label for="idEmployeeAtCustomer">Sachbearbeiter beim Kunden</label>
                        <input id="idEmployeeAtCustomer"
                               [(ngModel)]="measurementVM.measurement.personResponsibleAtCustomer"
                               maxLength="250"
                               type="text" pInputText/>
                    </div>

                    <div class="ui-g-3">
                        <label for="idCustomerArea">Kundenbereich</label>
                        <p-dropdown id="idCustomerArea" [options]="measurementVM.customerAreasSelectItems"
                                    [(ngModel)]="measurementVM.measurement.customerArea"
                                    placeholder="Kundenbereich auswählen"
                                    editable="true"
                                    [style]="{'min-width':'150px'}"></p-dropdown>
                    </div>
                    <div class="ui-g-3"></div>


                    <!-- Row 6-->
                    <div class="ui-g-3">
                        <label for="idExecutionFrom">Ausführung von</label>
                        <p-calendar id="idExecutionFrom" dateFormat="dd.mm.yy"
                                    [locale]="locale" [numberOfMonths]="3"
                                    [showIcon]="true"
                                    [(ngModel)]="measurementVM.measurement.constructionPeriodStart"></p-calendar>
                    </div>

                    <div class="ui-g-3">
                        <label for="idExecutionTo">Ausführung bis</label>
                        <p-calendar id="idExecutionTo" dateFormat="dd.mm.yy"
                                    [locale]="locale" [numberOfMonths]="3"
                                    [showIcon]="true"
                                    [(ngModel)]="measurementVM.measurement.constructionPeriodEnd"></p-calendar>
                    </div>
                    <div class="ui-g-3">
                        <label for="idAccountingPeriod">Abrechnungszeitraum</label>
                        <p-calendar id="idAccountingPeriod"
                                    [locale]="locale"
                                    [(ngModel)]="measurementVM.measurement.accountingPeriod"
                                    [yearNavigator]="true"
                                    [showIcon]="true"
                                    view="month" dateFormat="mm.yy"
                                    yearRange="2000:2030"></p-calendar>

                    </div>
                    <div class="ui-g-3"></div>

                </div>

            </div>
        </div>
    </div>
    <div class="ui-grid-col-4">
        <div class="ui-g-12">

            <div class="card no-margin">
                <h1>Bearbeitung</h1>
                <div class="ui-g form-group">
                    <div class="ui-g-6">
                        <label for="idEmployee">Mitarbeiter</label>

                        <p-autoComplete id="idEmployee"
                                        [(ngModel)]="measurementVM.selectedUser"
                                        field="name"
                                        [suggestions]="measurementVM.usersSuggest"
                                        (completeMethod)="filterUsers($event)"
                                        [size]="15"
                                        [minLength]="1"
                                        [dropdown]="true"
                                        [style]="{'border-right': '0', 'width': '90%'}"
                                        placeholder="Erster Buchstabe des Namens">
                            <ng-template let-user pTemplate="item">
                                {{user.name}}
                            </ng-template>
                        </p-autoComplete>


                        <button pButton type="button" name="btnUser"
                                (click)="showUserSearchDialog()"
                                icon="fa fa-superpowers" class="ui-button-warn"></button>

                    </div>
                    <div class="ui-g-6">
                        <label for="idSquad">Trupp</label>
                        <div class="ui-inputgroup">
                            <input id="idSquad" #idSquad type="text" pInputText pKeyFilter="int" placeholder="<Trupp>"
                                   style="border-right:0"
                                   (keyup.enter)="squadNumberOnEnter(idSquad.value)"
                                   (blur)="squadNumberOnEnter(idSquad.value)"
                                   [(ngModel)]="measurementVM.selectedSquad.squadNumber">

                            <button pButton type="button" name="btnSquadNumber"
                                    (click)="showSquadSearchDialog()"
                                    icon="fa fa-superpowers" class="ui-button-warn"></button>
                        </div>
                    </div>


                    <div class="ui-g-12">
                        <label>letzte Änderung: </label>
                        <label *ngIf="!measurementVM.measurement.updatedBy">bisher keine Änderungen</label>
                        <label *ngIf="measurementVM.measurement.updatedBy">{{measurementVM.measurement.updatedBy}}
                            , {{measurementVM.measurement.updatedOn}}</label>
                        <a *ngIf="measurementVM.measurement.updatedBy" style="color:blue;"
                           (click)="showHistorySearchDialog()">Historie
                            anzeigen</a>
                    </div>

                </div>
            </div>

            <div class="card no-margin">
                <h1>Zusammenfassung</h1>
                <div class="ui-g form-group">
                    <div class="ui-g-12">
                        <label for="idOfferNumber">Angebot Nummer</label>
                        <p-inputMask id="idOfferNumber"
                                     mask="999/99/999"
                                     [(ngModel)]="measurementVM.measurement.offerNumber"
                                     placeholder="000/00/000"></p-inputMask>
                    </div>

                    <div class="ui-g-6">
                        <label for="idInvoiceNumber">Rechnungs Nummer:</label>
                        <input *ngIf="!measurementVM.measurement.invoiceNumber"
                               type="text" pInputText readonly value="Unbekannt">
                        <input *ngIf="measurementVM.measurement.invoiceNumber"
                               id="idInvoiceNumber" type="text" pInputText readonly
                               [(ngModel)]="measurementVM.measurement.invoiceNumber">
                    </div>

                    <div class="ui-g-6">
                        <label>Status:</label>
                        <input *ngIf="!measurementVM.measurement.state"
                               type="text" pInputText readonly value="Unbekannt">
                        <input *ngIf="measurementVM.measurement.state"
                               type="text" pInputText readonly
                               [(ngModel)]="measurementVM.measurement.state.name">
                    </div>

                    <div class="ui-g-6">
                        <label for="idSumSalary">Gesamtlohn:</label>
                        <input id="idSumSalary" type="text" pInputText readonly value="{{sumSalary()}}">
                    </div>

                    <div class="ui-g-6">
                        <label for="idSumValue">Gesamtwert:</label>
                        <input id="idSumValue" type="text" pInputText readonly value="{{sumValue()}}">
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

<div class="ui-grid">
    <div class="ui-grid-col-12">
        <div class="ui-g-12">

            <div class="card no-margin">
                <h1>Positionen</h1>

                <p-table [value]="measurementVM.measurementPositionModels"
                         dataKey="rowNumber"
                         [style]="{'margin-bottom':'20px'}">
                    <ng-template pTemplate="caption">
                        <button type="button" icon="fa fa-bars" pButton
                                style="height:10px;width:10px; float: right;"></button>
                    </ng-template>
                    <ng-template pTemplate="header">

                        <tr>
                            <th [pSortableColumn]="selectedCols[0].field" [width]="selectedCols[0].width">
                                {{selectedCols[0].header}}
                            </th>

                            <th [pSortableColumn]="selectedCols[1].field" [width]="selectedCols[1].width">
                                {{selectedCols[1].header}}
                            </th>

                            <th [pSortableColumn]="selectedCols[2].field" [width]="selectedCols[2].width">
                                {{selectedCols[2].header}}
                            </th>

                            <th [pSortableColumn]="selectedCols[3].field" [width]="selectedCols[3].width">
                                {{selectedCols[3].header}}
                            </th>

                            <th [pSortableColumn]="selectedCols[4].field" [width]="selectedCols[4].width">
                                {{selectedCols[4].header}}
                            </th>

                            <th [pSortableColumn]="selectedCols[5].field" [width]="selectedCols[5].width">
                                {{selectedCols[5].header}}
                            </th>

                            <th [pSortableColumn]="selectedCols[6].field" [width]="selectedCols[6].width">
                                {{selectedCols[6].header}}
                            </th>

                            <th [pSortableColumn]="selectedCols[7].field" [width]="selectedCols[7].width">
                                {{selectedCols[7].header}}
                            </th>

                            <th [pSortableColumn]="selectedCols[8].field">
                                {{selectedCols[8].header}}
                            </th>

                            <th [pSortableColumn]="selectedCols[9].field">
                                {{selectedCols[9].header}}
                            </th>

                            <th [pSortableColumn]="selectedCols[10].field" [width]="selectedCols[10].width">
                                {{selectedCols[10].header}}
                            </th>

                        </tr>

                    </ng-template>
                    <ng-template pTemplate="body" let-rowData>
                        <tr [pSelectableRow]="rowData">

                            <td>
                                <input pInputText type="text"
                                       [(ngModel)]="rowData[selectedCols[0].field]"
                                       [ngStyle]="{'width': '90%'}">
                            </td>

                            <td>
                                <input pInputText type="text"
                                       [(ngModel)]="rowData[selectedCols[1].field]"
                                       [ngStyle]="{'width': '100%'}">
                            </td>

                            <!-- multiplier -->
                            <td>
                                <input pInputText type="text"
                                       pKeyFilter="int"
                                       (change)="productUpdateEvent(rowData)"
                                       [(ngModel)]="rowData[selectedCols[2].field]"
                                       [ngStyle]="{'width': '100%'}">
                            </td>

                            <td>
                                <input pInputText type="text"
                                       pKeyFilter="int"
                                       (change)="productUpdateEvent(rowData)"
                                       [(ngModel)]="rowData[selectedCols[3].field]"
                                       [ngStyle]="{'width': '100%'}">
                            </td>

                            <td>
                                <input pInputText type="text"
                                       pKeyFilter="int"
                                       (change)="productUpdateEvent(rowData)"
                                       [(ngModel)]="rowData[selectedCols[4].field]"
                                       [ngStyle]="{'width': '100%'}">
                            </td>

                            <td>
                                <input pInputText type="text"
                                       pKeyFilter="int"
                                       (change)="productUpdateEvent(rowData)"
                                       [(ngModel)]="rowData[selectedCols[5].field]"
                                       [ngStyle]="{'width': '100%'}">
                            </td>

                            <td>
                                <input pInputText type="text"
                                       [(ngModel)]="rowData['product']"
                                       [readOnly]="true"
                                       [ngStyle]="{'width': '100%'}">

                            </td>

                            <td>
                                <p-dropdown [options]="measurementVM.unitSelectItems"
                                            [(ngModel)]="rowData[selectedCols[7].field]"
                                            placeholder="Einheit"
                                            [style]="{'width':'100%'}"
                                            editable="true"></p-dropdown>

                            </td>

                            <td>
                                <input pInputText type="text"
                                       pKeyFilter="int"
                                       [(ngModel)]="rowData[selectedCols[8].field]"
                                       [ngStyle]="{'width': '100%'}">
                            </td>

                            <td>
                                <input pInputText type="text"
                                       pKeyFilter="int"
                                       [(ngModel)]="rowData[selectedCols[9].field]"
                                       [ngStyle]="{'width': '100%'}">
                            </td>

                            <td>
                                <input pInputText type="text"
                                       pKeyFilter="int"
                                       [(ngModel)]="rowData[selectedCols[10].field]"
                                       [ngStyle]="{'width': '100%'}">
                            </td>

                        </tr>
                    </ng-template>
                </p-table>
            </div>
        </div>
    </div>
</div>
