<div class="ui-g dashboard">
    <div class="ui-g-12 ui-md-6 ui-lg-3">
        <div class="ui-g card overview-box overview-box-1">
            <div class="ui-g-4 overview-box-icon">
                <img src="assets/layout/images/icon-paper.png">
            </div>
            <div class="ui-g-8">
                <span class="overview-box-count">253</span>
                <span class="overview-box-name">Nicht freigegebene Aufmaße</span>
                <span class="overview-box-rate">+10%</span>
            </div>
        </div>
    </div>
    <div class="ui-g-12 ui-md-6 ui-lg-3">
        <div class="ui-g card overview-box overview-box-2">
            <div class="ui-g-4 overview-box-icon">
                <img src="assets/layout/images/icon-mail.png">
            </div>
            <div class="ui-g-8">
                <span class="overview-box-count">3216</span>
                <span class="overview-box-name">Zu fakturierende Aufmaße</span>
                <span class="overview-box-rate">+34%</span>
            </div>
        </div>
    </div>
    <div class="ui-g-12 ui-md-6 ui-lg-3">
        <div class="ui-g card overview-box overview-box-3">
            <div class="ui-g-4 overview-box-icon">
                <img src="assets/layout/images/icon-location.png">
            </div>
            <div class="ui-g-8">
                <span class="overview-box-count">428</span>
                <span class="overview-box-name">Aufmaße 2018</span>
                <span class="overview-box-rate">-15%</span>
            </div>
        </div>
    </div>
    <div class="ui-g-12 ui-md-6 ui-lg-3">
        <div class="ui-g card overview-box overview-box-4">
            <div class="ui-g-4 overview-box-icon">
                <img src="assets/layout/images/icon-orders.png">
            </div>
            <div class="ui-g-8">
                <span class="overview-box-count">924</span>
                <span class="overview-box-name">Aufmaße 2019</span>
                <span class="overview-box-rate">+24%</span>
            </div>
        </div>
    </div>

    <div class="ui-g-12 ui-lg-12">
        <div class="card">
            <p-table [columns]="cols" [paginator]="true" [rows]="5" [responsive]="true"
                     [value]="measurementSearchResult.items" selectionMode="single" dataKey="id"
                     [(selection)]="selectedMeasurement" [style]="{'margin-bottom':'20px'}">
                <ng-template pTemplate="caption">
                    Letzte Aufmaße
                </ng-template>
                <ng-template pTemplate="header" let-columns>
                    <tr>
                        <th *ngFor="let col of columns" [pSortableColumn]="col.field">
                            {{col.header}}
                            <p-sortIcon [field]="col.field"></p-sortIcon>
                        </th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-rowData let-columns="columns">
                    <tr [pSelectableRow]="rowData" (click)="show(rowData)">
                        <td *ngFor="let col of columns">
                            {{rowData[col.field]}}
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </div>
    </div>

    <div class="ui-g-12 ui-lg-12">
        <div class="card">
            <p-table [columns]="cols" [paginator]="true" [rows]="5" [value]="measurementSearchResult.items"
                     selectionMode="single" dataKey="id" [(selection)]="selectedMeasurement"
                     [style]="{'margin-bottom':'20px'}">
                <ng-template pTemplate="caption">
                    Zu fakturierende Aufmaße
                </ng-template>
                <ng-template pTemplate="header" let-columns>
                    <tr>
                        <th *ngFor="let col of columns" [pSortableColumn]="col.field">
                            {{col.header}}
                            <p-sortIcon [field]="col.field"></p-sortIcon>
                        </th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-rowData let-columns="columns">
                    <tr [pSelectableRow]="rowData" (click)="show(rowData)">
                        <td *ngFor="let col of columns">
                            {{rowData[col.field]}}
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </div>
    </div>

</div>
