<div class="ui-g-12 ui-md-6 ui-lg-4 ui-fluid contact-form">
    <p-panel header="Unsere Kontaktdaten">
        <div class="ui-g">
            <div class="ui-g-12">
                <label>Telefon: 0123 / 456 7890</label>
            </div>
        </div>
    </p-panel>

    <p-panel header="Schreiben Sie uns" [style]="{minHeight: '360px'}">
        <div class="ui-g">
            <div class="ui-g-12">
                <input type="text" pInputText placeholder="Name">
            </div>
            <div class="ui-g-12">
                <input type="text" pInputText placeholder="Email">
            </div>
            <div class="ui-g-12">
                <textarea type="text" pInputTextarea placeholder="Nachricht"></textarea>
            </div>
            <div class="ui-g-12">
                <button type="button" label="Abschicken" icon="fa fa-send" pButton></button>
            </div>
        </div>
    </p-panel>
</div>
