<!-- warnings / info -->
<p-toast></p-toast>

<div class="ui-g ui-fluid">
    <div class="ui-g-12">
        <!-- input bar -->
        <div class="ui-inputgroup">
            <input type="text"
                   autofocus
                   [ngModel]="query"
                   (input)="onKeyPress($event)"
                   pInputText placeholder="Keyword"
                   style="border-right: 0">
            <button pButton type="button"
                    label="Search"
                    (click)="search()"></button>
            <button pButton type="button"
                    label="Zurücksetzen"
                    (click)="reset()"></button>
        </div>
    </div>

    <div *ngIf="searchResult && searchResult.items" class="ui-g-12">
        <span>Meinten Sie vielleicht: ABC</span>
    </div>

    <!-- messages -->
    <p-messages key="searchMessages"></p-messages>

    <!-- result table -->
    <div class="ui-g-12">
        <h1 *ngIf="!searchResult || !searchResult.items">Einfach Tippe, wir finden schon, was Sie suchen...</h1>

        <p-table *ngIf="searchResult && searchResult.items"
                 [value]="searchResult.items"
                 dataKey="id"
                 [style]="{'margin-bottom':'20px'}">
            <ng-template pTemplate="caption">
                <div class="ui-helper-clearfix">
                    <div class="ui-g">
                        <div class="ui-g-12 ui-md-4" style="text-align:left">
                        </div>
                        <div class="ui-g-6 ui-md-4 filter-container">
                            <span>Hello World</span>
                        </div>
                        <div class="ui-g-6 ui-md-4" style="text-align:right">
                            <p-button label="Optionen"></p-button>
                            <p-button label="Export"></p-button>
                        </div>
                    </div>
                </div>
            </ng-template>
            <ng-template pTemplate="header">
                <tr>
                    <th *ngIf="debug">
                        <span>DEBUG</span>
                    </th>

                    <th>
                        <span>Person</span>
                    </th>

                    <th>
                        Kontakt
                    </th>

                    <th>
                        Adresse
                    </th>

                    <th>
                        Callc Bemerkungen
                    </th>

                    <th>
                        CallC ZO
                    </th>

                </tr>

            </ng-template>
            <ng-template pTemplate="body" let-searchItem>
                <tr [pSelectableRow]="searchItem">

                    <!-- relevance -->
                    <td *ngIf="debug">
                        <div class="ui-g-12">
                            <label for="idScoreOV">OV Score:</label>
                            <span id="idScoreOV">{{searchItem.dbgScoreOV}}</span>
                        </div>

                        <div class="ui-g-12">
                            <label for="idDebugAssignmentFirst">DBG Assignment 1st:</label>
                            <span id="idDebugAssignmentFirst">{{searchItem.dbgAssignmentFirst}}</span>
                        </div>
                    </td>

                    <!-- person -->
                    <td>
                        <div class="ui-g-3">
                            <!--
                        Bild anzeigen, wenn gewünscht
                          - intern -
                          -> original bild, wenn da
                          -> fallback bild, wenn nicht da
                          - extern -
                          -> fallback extern bild
                        -->
                            <img alt="" src="assets/layout/images/avatar1.png"/>
                        </div>

                        <!--
                        like button
                        like count
                        -->
                        <div class="ui-g-9">
                            <div class="ui-g-12">
                                <!--
                                Link auf Namen (full name reverse highlighted)
                                -> Link opens Employee Details mit RO / RW berechtigung
                                -> Link opens Extern Details mit RO / RW berechtigung
                                -->
                                <a (click)="showUserDetail(searchItem)">{{fullname(searchItem)}}</a>
                            </div>
                            <div class="ui-g-12">
                                <!--
                                Identifiers / User-Login Names of all 3 domains
                                -->
                                <app-search-item-userids [searchItem]="searchItem"></app-search-item-userids>
                            </div>
                            <div class="ui-g-12">
                                <!--
                                 <b>businessAreaShortNameHighlighted</b>
                                 businessAreaLongNameHighlighted
                                 businessAreaCostCenterHighlighted
                                 -->
                                TODO
                            </div>
                            <div class="ui-g-12">
                                <!-- Cost Centers -->
                                <!--
                                roleHighlighted
                                positionCostCenterHighlighted
                                -->
                                TODO
                            </div>
                        </div>
                        <!--
                    link "Kollegen im Bereich anzeigen"
                    -->
                        <div class="ui-g-12">
                            <a (click)="searchInBusinessUnit(searchItem)">Kollegen im Bereich</a>
                        </div>
                    </td>

                    <!-- contact -->
                    <td>
                        <!-- tel -->
                        <div class="ui-g-12">
                            <!--
                            Tel:
                            phoneWithPrefixHighlighted OR
                            phoneWithoutPrefixHighlighted
                            -->
                            <label for="idPhone">Tel:</label>
                            <span id="idPhone">{{searchItem.phone}}</span>
                        </div>

                        <div class="ui-g-12">
                            <!--
                            Mobil:
                            mobileHighlighted
                            -->
                            <label for="idCellular">Mobil:</label>
                            <span id="idCellular">{{searchItem.mobile}}</span>
                        </div>

                        <div class="ui-g-12">
                            <!--
                            Fax:
                            faxWithPrefixHighlighted OR
                            faxWithoutPrefixHighlighted
                            -->
                            <label for="idFax">Fax:</label>
                            <span id="idFax">{{searchItem.fax}}</span>
                        </div>


                        <div class="ui-g-12">
                            <!--
                            Email Link: mailto:...
                            -->
                            <a href="mailto:{{searchItem.email}}">{{searchItem.email}}</a>
                        </div>

                    </td>

                    <td>
                        <div class="ui-g-12">
                            <!--
                            Link: houseNameHighlighted
                            -> open House details
                            -->
                            <label for="idBuilding">Service-Center:</label>
                            <span id="idBuilding">{{searchItem.buildingName}}</span>
                        </div>


                        <div class="ui-g-12">
                            <span>{{searchItem.street}} {{searchItem.streetNumber}}</span>

                            <label for="idRoom">Raum:</label>
                            <span id="idRoom">{{searchItem.room}}</span>
                            <span>{{searchItem.zipCode}} {{searchItem.city}}</span>
                            <!--
                            street
                            room
                            zipcode
                            -->
                        </div>
                        <div class="ui-g-12">
                            <!--
                            Link: Kollegen im Raum anzeigen
                            -->
                            <a (click)="searchInRoom(searchItem)">Kollegen im Raum</a>
                        </div>
                    </td>

                    <td>
                        <!--
                        callCenterRemarksHighlighted
                        -->
                        <p-scrollPanel [style]="{width: '100%', height: '100px'}">
                            Bla
                            <span class="ui-state-highlight">
                                Bli
                            </span>
                            Blub
                        </p-scrollPanel>
                    </td>

                    <td>
                        <!--
                        123: combinedZO123
                        abc: combinedZOABC
                        Region: combinedZORegion
                        -->
                        <div class="ui-g-12">
                            <label for="idClassificationNumeric">123:</label>
                            <span id="idClassificationNumeric">{{searchItem.assignmentNumeric}}</span>
                        </div>
                        <div class="ui-g-12">
                            <label for="idClassificationLetter">ABC:</label>
                            <span id="idClassificationLetter">{{searchItem.assignmentLetter}}</span>
                        </div>
                        <div class="ui-g-12">
                            <label for="idClassificationRegion">Region:</label>
                            <span id="idClassificationRegion">{{searchItem.assignmentRegion}}</span>
                        </div>
                    </td>

                </tr>
            </ng-template>
        </p-table>

    </div>

</div>
